* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  padding: 0 2vw;
  width: 100%;
  background-image: url("/public/bg_resized.png");
  background-repeat: no-repeat;
  background-size: 100vw 104vh;
  background-position: right;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("https://ik.imagekit.io/dwoymzyld/RefritecBack.png?updatedAt=1688563540750");
    background-repeat: no-repeat;
    background-size: 800px 100vh;
    background-position-x: left;
  }
}

.graficos {
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding-top: 4vh;
  gap: 2vh;
}
