* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  padding: 2vh 2vw;
  width: 100%;
  background-image: url("https://ik.imagekit.io/dwoymzyld/RefritecBack.png?updatedAt=1688563540750");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("https://ik.imagekit.io/dwoymzyld/RefritecBack.png?updatedAt=1688563540750");
    background-repeat: no-repeat;
    background-size: 800px 100vh;
    background-position-x: left;
  }
}

.graficos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15vh;
  height: 100%;
  gap: 2vh;
}
